<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="info"/>
            </Filters>
        </Console>
        <Console name="SecurityLog" target="SYSTEM_OUT">
            <PatternLayout pattern="\n### SECURITY: %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Filters>
                <ThresholdFilter level="info"/>
            </Filters>
        </Console>
        <RollingFile name="RollingFile">
            <FileName>/u01/applogs/lara/workhorse/workhorse.log</FileName>
            <FilePattern>/u01/applogs/lara/workhorse/%d{yyyy-MM-dd}.log</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="gov.michigan" level="trace" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="gov.michigan" level="debug" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Logger name="org.springframework.boot.autoconfigure.security" level="info" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="SecurityLog"/>
        </Logger>

        <Logger name="org.hibernate" level="error" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
        <Logger name="org.springframework.security" level="info" additivity="false">
            <AppenderRef ref="SecurityLog" />
        </Logger>
        <Logger name="org.springframework.web.servlet" level="info" additivity="false">
            <AppenderRef ref="SecurityLog" />
        </Logger>
    </Loggers>
</Configuration>