small {
    color: lightslategrey;
}

#footer {
    min-height: 50px;
    border: none;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 58px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 501;
    text-align: center;
}

.error {
    border: 2px solid rgb(185, 11, 11) !important;
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
}

.validation-error {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}